body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header {
    display: flex; 
    background-color: #aaabbc;
    color: aliceblue;
    flex: auto; 
    padding: 20px;  
    margin: -10px;
    justify-content: space-between;
}
.containerheader {
    margin-left: auto;
    
}
.headerlink {
    color: whitesmoke;
    text-decoration: none;
}

.asidecontent,img {
    display: flex;
    background-color: #aaabbc;
    flex-flow: row;
    margin-left: -8px;
    margin-right: -8px;
}
.maintitle {
    font-size: 48px;
    color: #e5e7eb;
    
}
#asideimg {
    width: 600px;
    height: 350px;
    padding: 20px;
}
.aside {
    padding: 20px;
}
#asidetext {
    color: #f9faf8;
    font-size: 24px;
}
#buttonaside {
    border:3px none black;
    background-color: lightblue;
    border-radius: 8px;
    font-size: 15px;
    text-decoration: none;
    padding: 8px;
}
#headericon {
   width: 50px;
   height: 50px;
   border-radius: 50px;
}
h2 {
    text-align: center;
}
#grid {
    display: flex;
    gap: 100px;
    justify-content: center;
}
.imgcard {
    width: 300px;
    height: 300px;
    border: 5px solid #BBEEBB;
    border-radius: 6px;
}
.cards {
    display: flex;
    flex-flow: row wrap;
}
#quote {
    display: flex;
    height: 400px;
    background-color: #BBEEBB;
    align-items: center;
    margin: -8px;
    padding: 8px;
}
#quoteautor {
    display: block;
    text-align: right;
    font-size: 24px;
    padding: 15px;
}
.quote {
    font-size: 36px;
    text-align: center;
}
footer {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin: 5%;
}
.containerfooter {
    display: flex;
    flex: auto;
    flex-flow: column wrap;
    height: 350px;
    align-items: center;
    background-color: #BBEEBB;
    width: 60%;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 8px;
}
p {
    
}
h4 {
    font-size: 36px;
}
a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
.gridtext {
    text-align: center;
}
#footertext {
    font-size: 18px;
    padding: 5px;
}